.about{
    background-color: #272725;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.about .left{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    text-align: center;
    margin: auto;
    padding: 1rem ;
    max-width: 500px;
    

}
.about .left p{
    color: aquamarine;
    font-size:25px;
    letter-spacing: 1px;
    margin-bottom: 1.2rem;


}
.right h1{
    text-align: center;
    margin: 2rem 0;  
}
.skill-img {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.skill-img img{
    width: 10rem;
    height:7rem;
    padding: 1rem;
    margin: 2rem 2rem;
    justify-content: center;
    background-color: antiquewhite;
}
.gitImage{
   
   display: grid;
   grid-template-columns: repeat(1,1fr);
   place-items: center;
   gap: 10px;
  
}
.gitImage img {
    box-shadow: rgba(195, 20, 20, 0.35) 0px 5px 15px;
   
}

