@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Cabin&family=Port+Lligat+Slab&display=swap');

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: 'Abyssinica SIL', serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Port Lligat Slab', serif;
}
body{
  background-color:#30365f;
}
h1, h4, p, a{
  text-decoration: none;
  color:rgb(254, 255, 251);
}
ul{
   list-style-type:none;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-image: url("https://wallpapercave.com/wp/wp7213377.jpg");
  color:#722e97;
  border: 2px solid white;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 2px;
  margin-right: 15px;
}
.btn-light{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid rgb(186, 21, 21);
  background: transparent;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 2px;
  margin-right: 15px;
}
.btn:hover{
  background: rgb(103, 157, 188);
  color: rgb(43, 10, 160);
  transition: 0.3s;
  border: 2px solid rgb(104, 163, 120);
}